:root {
  background-color: silver;
  font-size: 12px;
}

.titulo {
  color: green;
  margin: auto;
  margin-top: 10vh;
  font-size: 7rem;
  display: flex;
}

.convert {
  display: flex;
}

select {
  display: flex;
  margin: auto;
}

.cin, .cout {
  margin: 2vh auto;
  flex-direction: column;
  padding: 1vh 2vh;
  border-radius: 1vh;
  border: none;
  background-color: grey;
}

option {
  border: none;
}