:root {
  background-color: silver;
  font-size: 12px;
}

.titulo {
  color: darkgreen;
  margin: 2rem auto 1rem auto;
  font-size: 7rem;
  display: flex;
}

img {
  display: flex;
  margin: auto;
}

.converter {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.convertin {
  margin: auto 1rem auto auto;
}

.convertout {
  margin: auto auto auto 1rem;
}

.cin, .cout {
  margin: 3rem auto 1rem auto;
  padding: 1vh 2vh;
  border-radius: 1vh;
  border: none;
  background-color: grey;
}

input {
  margin: auto;
  width: 6vh;
  padding: 1vh 2vh;
  border-radius: 1vh;
  border: none;
}